.event-item {
  padding: 30rpx;
  border-bottom: 1px solid #f4f4f4;
  box-sizing: border-box;
  .title-view {
    font-size: 32rpx;
    color: #282828;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .sub-title-view {
    margin-top: 20rpx;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #b4b4b4;
    font-size: 24rpx;
  }
  .operate-view {
    margin-top: 20rpx;
    display: flex;
    flex-direction: row-reverse;
  }
  .can-click-text {
    font-size: 20rpx;
    color: #3eaf7c;
  }
}
