.page-view-outer {
  position: fixed;
  top: -1000rpx;
  bottom: -1000rpx;
  left: -1000rpx;
  right: -1000rpx;
}
.movable-area {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  position: relative;
}
.cur-card-container {
  width: 600rpx;
  height: 850rpx;
  border-radius: 18rpx;
  background: #fff;
  top: 1100rpx;
  left: 1075rpx;
  overflow: hidden;
  z-index: 2;
}

.bg-card-container {
  position: absolute;
  width: 600rpx;
  height: 850rpx;
  border-radius: 18rpx;
  background: #fff;
  top: 1100rpx;
  left: 1075rpx;
  overflow: hidden;
  z-index: 1;
}

.card-image {
  width: 600rpx;
  height: 750rpx;
}
