.md-text {
  font-size: 32rpx;
  color: #282828;
  &.text-bolder {
    font-weight: bolder;
  }
  &.text-code {
    background: #f8f8f8;
    border-radius: 4rpx;
    color: #4e5980;
    padding: 0 4rpx;
    margin: 0 4rpx;
    font-size: 28rpx;
  }
}