page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blog-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.blog-title {
  padding: 20rpx;
  font-size: 40rpx;
  color: #282828;
  font-weight: bolder;
  box-sizing: border-box;
  border-bottom: 2rpx solid rgba(0, 0, 0, .2)
}
md-editor {
  // height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
